In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

In [2]:
log_scores = []
knn_scores = []
dt_scores = []

In [3]:
mushroom = pd.read_csv('mushroom_scores.csv', index_col = False)
mushroom

   Logistic  KNN  DecisionTree
0  0.961846  1.0           1.0
1  0.971692  1.0           1.0
2  0.965538  1.0           1.0

In [4]:
adult = pd.read_csv('adult_scores.csv')
adult

   Logistic       KNN  DecisionTree
0  0.825798  0.835123      0.845210
1  0.824637  0.834325      0.851379
2  0.823258  0.832874      0.850943

In [5]:
letter = pd.read_csv('letter_scores.csv')
letter

   Logistic       KNN  DecisionTree
0  0.772518  0.909861      0.795920
1  0.762718  0.907127      0.793453
2  0.762117  0.906260      0.800253

In [6]:
connect4 = pd.read_csv('connect4_scores.csv')
connect4

   Logistic       KNN  DecisionTree
0  0.659089  0.675011      0.659089
1  0.657315  0.672709      0.673189
2  0.659873  0.673620      0.669592

In [7]:
log_scores += list(adult.iloc[:,0].values)
log_scores += list(mushroom.iloc[:,0].values)
log_scores += list(letter.iloc[:,0].values)
log_scores += list(connect4.iloc[:,0].values)
log_scores

[0.8257982583454282,
 0.8246371552975327,
 0.8232583454281568,
 0.9618461538461538,
 0.9716923076923076,
 0.9655384615384616,
 0.7725181678778585,
 0.7627175145009667,
 0.7621174744982999,
 0.6590894558475606,
 0.6573150457190358,
 0.6598727540124049]

In [8]:
knn_scores += list(adult.iloc[:,1].values)
knn_scores += list(mushroom.iloc[:,1].values)
knn_scores += list(letter.iloc[:,1].values)
knn_scores += list(connect4.iloc[:,1].values)
knn_scores

[0.8351233671988391,
 0.8343251088534107,
 0.8328737300435414,
 1.0,
 1.0,
 1.0,
 0.9098606573771584,
 0.9071271418094541,
 0.9062604173611574,
 0.6750111899737835,
 0.6727092525097512,
 0.673620436089264]

In [9]:
dt_scores += list(adult.iloc[:,2].values)
dt_scores += list(mushroom.iloc[:,2].values)
dt_scores += list(letter.iloc[:,2].values)
dt_scores += list(connect4.iloc[:,2].values)
dt_scores

[0.8452104499274311,
 0.8513788098693759,
 0.8509433962264151,
 1.0,
 1.0,
 1.0,
 0.7959197279818655,
 0.7934528968597907,
 0.8002533502233482,
 0.6590894558475606,
 0.673188822814758,
 0.6695920455272076]

In [10]:
#knn vs log
stat1, pval1 = stats.ttest_ind(knn_scores, log_scores)
pval1

0.3200521995394613

In [11]:
#knn vs dt
stat2, pval2 = stats.ttest_ind(knn_scores, dt_scores)
pval2

0.6192109374010579

In [12]:
#log vs dt
stat3, pval3 = stats.ttest_ind(log_scores, dt_scores)
pval3

0.6246937126923222

In [13]:
ttest_scores = np.array((pval1,pval2,pval3))
ttest_scores

array([0.3200522 , 0.61921094, 0.62469371])

In [14]:
column = ['KNNvLOG','KNNvDT','LOGvDT']
pvals = pd.DataFrame(ttest_scores.reshape(1,len(ttest_scores)), columns = column)
pvals

    KNNvLOG    KNNvDT    LOGvDT
0  0.320052  0.619211  0.624694

In [15]:
pvals.to_csv(r'pvals.csv', index = False, header = True)